
<link href="chosen/chosen.css" rel="stylesheet">
<link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="chosen-bootstrap/chosen.bootstrap.css" rel="stylesheet">
<link href="seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" rel="stylesheet">
<%#TODO chosen-bootstrap not working%>
<link href="style.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="bikes.js"></script>
<script src="jeditable/jquery.jeditable.js"></script>
<script src="chosen/chosen.jquery.js"></script>
<script src="seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>

<div class="container-fluid">
  
<div class="col-md-9">
    <div class="alert alert-success" id="confirmation-message">
      Confirmed!
  </div>
</div>

<%= erb :form %>

<table id="bikes-table-new" class="table">
  <thead>
    <tr>
      <% if @admin %> <th>id</th> <% end %>
      <th id="last-msg-at-col"></th>
      <th></th>
      <th>price</th>
      <th>brand</th>
      <% if @admin %> <th></th> <% end %>
      <th class="col-md-1" id="model-col">model</th>
      <%#<th>submodel</th>%>
      <% if @admin %> <th></th> <% end %>
      <th>size</th>
      <th>travel</th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
  <% @bikes.each do |bike| %>
    <tr class='bike' id="<%= bike.id %>">
      <%#Might want to remove just number from id field later%>
      <% if @admin %>
        <td><%= bike.id %></td>
      <% end %>
      <td class="time-since-last-msg"><%= humanize(bike.time_since_last_message) %></td>
      <td>
      <% if bike.frame_only %>
        <img src="bike_frame_30px.png" alt="bike frame" />
      <% end %>
      </td>
      <td>€<%= bike.price %></td>
      <td class="brand-name"><%= bike.brand_name %></td>
      <% if @admin %>
        <td>
        <% if bike.brand&.unconfirmed? %>
          <button type="button" class="btn confirm-brand" data-brand-id="<%= bike.brand.id %>">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          
          <button type="button" class="btn delete-brand" data-brand-id="<%= bike.brand.id %>">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        <% end %>
        </td>
      <% end %>
      <td class="model-name"><%= bike.model_name or word_after_brand(bike) %></td>
      <%#<td class="submodel-name"><%= bike.model&.submodel || '-' </td>%>
      <% if @admin  %>
        <td>
        <% if bike.model&.unconfirmed? %>
          <form action="/confirm-model" method="post">
            <button type="button" class="btn confirm-model" data-model-id="<%= bike.model_id %>" data-bike-id="<%= bike.id %>">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
        <% end %>
        </td>
      <% end %>
      <td><%= bike.size %></td>
      <td>
        <% if bike.model&.travel  %>
          <%= bike.model&.travel %>
        <% elsif @admin %>
          <form class="travel-form" action="add-travel" method="post">
            <input type="text" name="travel" class="travel-input" value="" />
          </form>
        <% end %>
    </td>
    <td><a href="<%= bike.post.uri %>"><%= bike.title %></a></td>
      
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @bikes, renderer: BootstrapPagination::Sinatra %>

  </div>
